<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lvyx.mail.mapper.CommunityMessageMapper">

    <select id="findListMessageVo" resultType="com.lvyx.mail.vo.MessageVo">
        select *, me.ID as emailId,
               toU.REAL_NAME as toUserName,
               fromU.REAL_NAME as fromUserName,
                me.CREATE_TIME as emailCreateDate
        from l_community_message m
        left join l_community_message_email me on m.ID = me.MESSAGE_ID
        left join l_user toU on  me.TO_USER = toU.ID
        left join l_user fromU on me.FROM_USER = fromU.ID
        where m.IS_DELETE = 0 and m.IS_ENABLE = 1
        and me.IS_DELETE = 0
        and me.TO_USER = #{userId}
        <if test="isEmail != null and isEmail != '' or isEmail ==  0 ">
            and m.is_email = #{isEmail}
        </if>
        <if test="isEnable != null and isEnable != '' or isEnable ==  0 ">
            and me.is_enable = #{isEnable}
        </if>
        <if test="title != null and title != ''">
            <bind name="titleSearch" value="'%' + title + '%'"/>
            and m.subject like #{titleSearch}
        </if>
        order by m.create_time desc
    </select>
</mapper>
